<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="max-age=3600">
    <title>Home page</title>
    <style>
        body{
            margin: 0 auto;
            height: 700px;
            background-color:rgb(51, 194, 238)70, 202;
        }
        div{
            width: 300px;
            height: 300px;
            box-sizing: border-box;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Salem, world!</h1>
    </div>
</body>
</html>